<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <extensions>
        <add assembly="NLog.RestTarget" />
      </extensions>
    <targets async="true">
      <target name="rse" xsi:type="RestService" host="http://localhost:59802/api/hello/indexer">
        <header name="CustomHeader" layout="${mdlc:item=customheader}"/>
        <layout xsi:type="JsonLayout" includeAllProperties="true">
          <attribute name="Level" layout="${level}" />
          <attribute name="Timestamp" layout="${longdate}" />
          <attribute name="Message" layout="${message}" />
        </layout>
      </target>
    </targets>
    <rules>
      <logger name="rs" minlevel="Trace" writeTo="rse" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>